<div class = "container-fluid">
        <img class="img-fluid" id = "image_two" src="images/logo.png" alt="">
        <img class="img-fluid" id = "image_one" src="images/logo_image.png" alt="">
        <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>...........</span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="['/about']">About</a>
              <a class="dropdown-item" [routerLink]="['/']">Home</a>
              <a class="dropdown-item" [routerLink]="['/faq']">FAQ</a>
            </div>
        </div>
      </div>
    <div id = "page">
    <h1>Contact Site Creator</h1>
    <h4>Courtney King</h4>
    <p>
       I'm a full-stack developer, taking specialty in Javascript web applications. This site was created usin Angular and Bootstrap. Interested in expanding this idea and collaboration, feel free to contact me at the email below.<br>
       courtneyshmourtney@gmail.com <br>
       linkedin <br>
       Los Angeles, CA <br>
  
   </p>
 </div>