<div class="navbar container-fluid">
    <p class = "header">Memories </p>   
    <a [routerLink]="['/dashboard']"><img class="img-fluid" id = "image_one" src="images/logo_image.png" alt=""></a>
</div>
<div id = "page">
    <div id = "profile"><img class = "img-fluid"src = "images/profile_image.jpg"></div>
    <div id = "name"></div>
    <div id = "player">link songs playlist</div>
    <div id = "notes">people can write little notes here, condolences, etc.</div>
    <div id = "left">share stories, etc.</div>
    <div id = "right">share pictures</div>
</div>