<div class="navbar container-fluid">
    <p class = "header">Deals </p>   
    <a [routerLink]="['/dashboard']"><img class="img-fluid" id = "image_one" src="images/logo_image.png" alt=""></a>
</div>
<div id = "page">
    <div id ="left">
        <h6>Saved </h6>
        <div class = "section">
            section  left
        </div>
        <div class = "section">
                section  left 2
        </div>
    </div>
    <div id ="right">
            <h6>Recent </h6>
            <div class = "section">
                section right
            </div>
            <div class = "section">
                    section  right 2
            </div>
        </div>
</div>