.navbar {
    font-family: 'Crimson Text', serif;
    background-color: #b4ccbb; 
	display: inline-block;
    padding: 5px 5px;
    color: #000000ba;
    height: 9vh;
    width: 100vw;
    text-align: center;
}
.img-fluid {
    max-width: 100%; 
    height: auto;
}
.section {
    height: 10%;
    width: 100%;
    border: 1px solid #b4ccbb;
    padding: 10px;
    background-color:#fafafa;
    margin-top: 5px;
} 
h6 {
    text-align:center;
}
@media only screen and (max-width: 480px){
    #image_one {
        height: 5vh;
        width: 7vw;
        position: absolute;
        right: 3vw;
        top: 1vh;
    }
    #page {
        font-family: 'Crimson Text', serif;
        color: #000000ba;
        background-color:#f0f5f2;
        width: 100vw;
        height: 100vh;
        padding: 5vh 2vw 2vh 5vw;
    }
    .header{
        display: inline-block;
        color: white;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    #left {
        width: 90%;
    }
    #right {
        width: 90%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px){
    #image_one {
        height: 5vh;
        width: 7vw;
        position: absolute;
        right: 3vw;
        top: 1vh;
    }
    #page {
        font-family: 'Crimson Text', serif;
        color: #000000ba;
        background-color:#f0f5f2;
        width: 100vw;
        height: 100vh;
        padding: 5vh 2vw 2vh 5vw;
    }
    .header{
        display: inline-block;
        color: white;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    #left {
        width: 90%;
    }
    #right {
        width: 90%;
    }
}
@media only screen and (min-width: 1024px){
    #image_one {
        height: 6vh;
        width: 4vw;
        position: absolute;
        right: 3vw;
        top: 1vh;
    }
    #page {
        font-family: 'Crimson Text', serif;
        color: #000000ba;
        background-color:#f0f5f2;
        width: 100vw;
        height: 100vh;
        padding: 5vh 2vw 2vh 5vw;
    }
    .header{
        display: inline-block;
        color: white;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
    }
    #left {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin-right: 2%;
    }
    #right {
        width: 60%;
        display: inline-block;
        vertical-align: top;
    }
}