<div class="navbar container-fluid">
    <p class = "header">Contacts </p>   
    <a [routerLink]="['/dashboard']"><img class="img-fluid" id = "image_one" src="images/logo_image.png" alt=""></a>
</div>
<div class="modal-body"></div>

<div id = "page">
    <div class = "section">
        <img class="img-fluid profile_image" src="images/profile_image.jpg" alt="">
        <p>Name</p>
        <p>Relationship</p>
        <p><span class= "cursive">"whatever this person wrote"</span></p>
        <button>Add to my contacts</button>
        <button>Message</button>
    </div>
    <div class = "section">
            <img class="img-fluid profile_image" src="images/profile_image.jpg" alt="">
            <p>Name</p>
            <p>Relationship</p>
            <p><span class= "cursive">"whatever this person wrote"</span></p>
            <button>Add to my contacts</button>
            <button>Message</button>
        </div>
</div>
