<!-- 
<div class = "container-fluid">
  <img class="img-fluid" id = "image_two" src="images/logo.png" alt="">
  <img class="img-fluid" id = "image_one" src="images/logo_image.png" alt="">
  <div class="dropdown">
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span>...........</span></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/about">About</a>
        <a class="dropdown-item" href="/faq">FAQ</a>
        <a class="dropdown-item" href="/contact">contact</a>
      </div>
  </div>
</div> -->

<!-- <div id = "page"> -->
    <router-outlet></router-outlet>
<!-- </div> -->


