<div id = "page">
<button onclick="window.print()">Print</button>
<h3>Obituary</h3>
<div class = "container-fluid">
    <h3>Name </h3>
    <img src="images/profile_image.jpg" alt="" class="img-fluid">
    <p>
      Make arrangements to print the obituary. Before you start writing your obituary, you should make sure that the obituary will be printed in the local paper and you have all the information. Many funeral homes offer a printed obituary in the newspaper as part of the funeral package, so if that's the case, you'll need to call the funeral home if you need more information; if not, you should call your local newspaper. Here's what you need to know:
      The cost. Most papers charge by the inch, but the word count can vary based on the paper's font and column width, so you should ask how many words are in an inch.
      The deadline. Most papers have a 4 or 5 p.m. deadline for obituaries, though some make exceptions because it's a delicate subject. But be careful about handing in your obituary too long after the deadline, because that may mean that the editors don't have as much time to proofread and finalize your work.
      The date it will be printed. You'll want the obituary to be printed as soon as possible so you can not only announce the death in a timely manner but also let everyone know where and when the funeral will take place.
      If you'd like the obituary to run in papers other than the local papers, such as national papers if the person was notable, or other local papers in a town where your loved one spent a lot of his life, then you should call those newspapers as well.</p>
<div>
<div>
